.powertoysPrivacyMode :is(.cardScalable, .listItemImage, .detailImageContainer) {
  overflow: hidden;
}
.powertoysPrivacyMode.noReveal .cardScalable :is(.cardImageContainer, .powertoys-preview-overlay),
.powertoysPrivacyMode .cardScalable:not(:hover) :is(.cardImageContainer, .powertoys-preview-overlay),
.powertoysPrivacyMode.noReveal :is(.listItemImage, .detailImageContainer, .detailLogo, .cardFooterLogo),
.powertoysPrivacyMode .listItem:not(:hover) .listItemImage,
.powertoysPrivacyMode :is(.detailImageContainer, .detailLogo, .cardFooterLogo):not(:hover) {
  filter: blur(2em);
}
.powertoysPrivacyMode .backdropImage {
  filter: blur(5em);
}
.powertoysPrivacyMode.noReveal :is(.cardText, .detailSection, .infoText, .itemMiscInfo, .sectionTitle, .nameContainer, .listItemBodyText, .listGroupHeader, .detailsGroupItem),
.powertoysPrivacyMode :is(.cardText, .detailSection, .infoText, .itemMiscInfo, .sectionTitle, .nameContainer, .listItemBodyText, .listGroupHeader, .detailsGroupItem):not(:hover) {
  filter: blur(0.25em);
}
.powertoysPrivacyMode .cardScalable:hover :is(.cardImageContainer, .powertoys-preview-overlay),
.powertoysPrivacyMode .listItem:hover .listItemImage,
.powertoysPrivacyMode :is(.detailImageContainer, .detailLogo, .cardFooterLogo, .cardText, .detailSection, .infoText, .itemMiscInfo, .sectionTitle, .nameContainer, .listItemBodyText, .listGroupHeader, .detailsGroupItem):hover {
  transition: filter 1.5s;
}
