.RemoteTrailersContainer {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: #000 !important;
}

.RemoteTrailersContainer video {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
